<div class="new-message-dot"></div>
<div class="user-icon" [class.new-message]="unread" [ngClass]="statusClass">
  {{ initials }}
  <i class="fas fa-check"></i>
</div>
<div class="user-details">
  <span class="user-name">{{ chatName }}</span>
  <div class="last-message">
    <div class="last-message-content">
      {{ lastMessage?.text ?? "Start a new chat" }}
      <span class="last-message-time" *ngIf="lastMessage?.time">{{
        lastMessage?.time | date : "shortTime"
      }}</span>
    </div>
  </div>
</div>
