<div class="user-icon-wrapper">
  <div class="user-icon" [ngClass]="statusClass">
    {{ initials }}
    <i class="fas fa-check"></i>
  </div>
</div>
<div class="user-details">
  <span class="user-name">{{ chat.title }} </span>
  <div class="last-message">
    <div class="last-message-content">
      {{ chat.lastMessage?.text ?? "Start a new chat" }}
      <span class="last-message-time" *ngIf="chat.lastMessage?.time">{{
        chat.lastMessage?.time | date : "shortTime"
      }}</span>
    </div>
  </div>
</div>
