ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  align-items: center;
  padding: 0.5rem;
  margin: 1px;
  cursor: pointer;
  font-size: smaller;
  transition: all 0.3s ease;

  &:hover {
    background-color: #e0e0e0;
  }
}

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  position: relative;
  .fa-check {
    display: none;
    position: absolute;
    bottom: 2px;
    right: 2px;
    border-radius: 50%;
    color: #fff;
    font-size: 5.5px;
    z-index: 1;
  }

  &.online {
    &::after {
      background-color: #92C353;
    }

    .fa-check {
      display: block;
    }
  }

  &.busy::after {
    background-color: #FDB913;
  }

  &.offline::after {
    background-color: #9F9F9F;
  }

  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
  }
}
.user-details {
  display: grid;
  grid-template-rows: auto auto;
}

.user-name {
  font-size: 1em;
  color: #333;
  margin-bottom: 2px;
}

.last-message {
  font-size: 0.8em;
  color: #777;
  overflow: hidden;
  text-overflow: ellipsis;
}

.last-message-content {
  display: flex;
  font-size: 1em;
  color: #777;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  right: 0;
}
.last-message-text {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}
.last-message-time {
  font-size: 1em;
  color: #999;
  text-align: right;
  width: 100%;
  margin-bottom: 10px;
}
.user-list {
  height: 900px;
  overflow-y: auto;
  padding-right: 5px;
}
@media (max-width: 767px) {
  .user-list {
    height: auto;
    overflow-y: auto;
  }

  li {
    grid-template-columns: 30px 1fr;
  }

  .user-details {
    grid-template-rows: auto;
  }

  .last-message {
    display: none; // Hide the last message on small screens
  }

  .user-icon {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
  }
}