.user-status {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .user-status.Online {
    background-color: #00cc00;
  }
  
  .user-status.Offline {
    background-color: #999;
  }
  
  .user-status.Busy {
    background-color: #ff5e5e;
  }