.users{
background-color: #F0F0F0;

color: black;

}
.contener{
    height: 100%;
    display: grid;
    grid-template-columns: 400px 1fr;
}
h1{ 
border-bottom: 1px solid gray;
color: black;

padding: 1rem;
}
.messages{
    box-shadow: 10px 1px 16px 5px rgba(0, 0, 0, 0.408)
}