:host {
  height: 100%;
  display: grid;
  grid-template-columns: 400px 1fr;
}

app-hamburger-menu {
  display: none;
}

@media (max-width: 1000px) {
  :host {
    grid-template-columns: 30% 1fr;
  }
}

@media (max-width: 640px) {
  app-UsersAndGroups {
    display: none;
  }

  :host {
    display: block;
    position: relative;
  }

  app-hamburger-menu {
    display: block;
  }
}
