* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap');

$background-color: #F5F5F5;
$secondary-color: #464775;
$text-color: #ffffff;
$gray-color: #8b8cc7;
$input-background: #f3f2f1;

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}
body,html{
  height: 100%;

}
body {
  background-color: $background-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  height: 100vh;
}

.users-container {
  background-color: $secondary-color;
  width: 25%;
  padding: 1rem;
  overflow-y: auto;
}

.user {
  padding: 1rem;
  cursor: pointer;
  &:hover {
    background-color: darken($secondary-color, 5%);
  }
}

.chats-container {
  background-color: $background-color;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-header {
  padding: 1rem;
  font-size: 1.2rem;
  border-bottom: 1px solid $gray-color;
}

.chat-body {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.message {
  margin-bottom: 1rem;
}

.chat-input {
  display: flex;
  background-color: $input-background;
  padding: 0.5rem 1rem;
  border-top: 1px solid $gray-color;
}

input {
  flex: 1;
  border: none;
  padding: 0.5rem;
}

button {
  background-color: $gray-color;
  border: none;
  color: $text-color;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
// ... (other styles)

.user {
  padding: 1rem;
  cursor: pointer;
  &:hover {
    background-color: darken($secondary-color, 5%);
  }
}

// ...

button {
  background-color: $gray-color;
  border: none;
  color: $text-color;
  font-size: 14px;
  padding: 0.5rem 0.7rem;
  margin-left:px ;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: darken($gray-color, 10%);
  }
}

.chat-input {
  display: flex;
  background-color: $input-background;
  padding: 0.5rem 1rem;
  border-top: 1px solid $gray-color;
  position: fixed;
  bottom: 0;
  left: 25%;
  width: 75%;
  border-radius: 0 0 1rem 1rem;
}

.chat-body {
  padding-bottom: 4rem; // Add padding to make space for the chat-input at the bottom
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 200,
  'opsz' 48
}
