<button (click)="toggleGroupForm()">Create Group</button>
<div *ngIf="newGroupFormVisible">
  <form [formGroup]="newGroupForm" (submit)="onSubmit()">
    <label for="groupName">Group Name</label>
    <input id="groupName" formControlName="groupName" type="text" required />
    <p
      *ngIf="
        newGroupForm.controls['groupName'].errors &&
        newGroupForm.controls['groupName'].dirty
      "
    >
      group name cant be empty !
    </p>

    <div formArrayName="users">
      <div *ngFor="let user of users; let i = index">
        <input type="checkbox" [value]="user.title" [formControlName]="i" />
        <label>{{ user.title }}</label>
      </div>
    </div>

    <button type="submit">Create Group</button>
  </form>
</div>

<div [class.show]="showUsersList" class="user-list">
  <div *ngFor="let chat of chats">
    <app-chat-overview
      (click)="onChatClick(chat.id)"
      [selected]="chat.id === selectedChatId"
      [chat]="chat"
    >
    </app-chat-overview>
  </div>
</div>
