<button (click)="toggleGroupForm()">Create Group</button>
<div *ngIf="newGroupFormVisible">
  <form [formGroup]="newGroupForm" (submit)="onSubmit()">
    <label for="groupName">Group Name</label>
    <input id="groupName" formControlName="groupName" type="text" required />
    <p
      *ngIf="
        newGroupForm.controls['groupName'].errors &&
        newGroupForm.controls['groupName'].dirty
      "
    >
      group name cant be empty !
    </p>

    <div formArrayName="users">
      <div *ngFor="let user of users; let i = index">
        <input type="checkbox" [value]="user.title" [formControlName]="i" />
        <label>{{ user.title }}</label>
      </div>
    </div>

    <button type="submit">Create Group</button>
  </form>
</div>

<div [class.show]="showUsersList" class="user-list">
  <app-chats-list></app-chats-list>
  <!-- 
  <app-chat-overview
    *ngFor="let user of users"
    (click)="onChatClick(user.id)"
    [selected]="user.id === selectedChatId"
    [chatName]="user.title"
    [chatId]="user.id"
    [lastMessage]="user.lastMessage"
  >
  </app-chat-overview>

  <app-group-overview
    *ngFor="let group of groups"
    (groupSelected)="onChatClick(group.id)"
    [groupName]="group.title"
    [groupId]="group.id"
    [groupUserCount]="group.users.length"
    [selected]="group.id === selectedChatId"
  ></app-group-overview>
</div> -->
</div>
