$background-color: #F0F0F0;
$hover-color: #e0e0e0;
$icon-bg-color: #ccc;
$primary-text-color: #333;
$secondary-text-color: #777;
$tertiary-text-color: #999;
$new-message-color: #0078d4;

@mixin userIconState($color) {
  &::after {
    background-color: $color;
  }
}

:host {
  background-color: $background-color;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

h3, ul {
  padding: 0 11px;
  list-style-type: none;
  margin: 0;
}

li {
  display: grid;
  grid-template-columns: 10px auto 1fr; 
  grid-gap: 10px;
  align-items: center;
  padding: 0.5rem;
  margin: 1px;
  cursor: pointer;
  font-size: smaller;
  transition: all 0.3s ease;

  &:hover {
    background-color: $hover-color;
  }

  &:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #000000;
    border-radius: 50%;
    grid-column: 1; 
    align-self: center;
  }
}

.user-icon {
  @extend .user-details;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $icon-bg-color;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
  position: relative;
  
  .fa-check {
    display: none;
    position: absolute;
    bottom: 2px;
    right: 2px;
    border-radius: 50%;
    color: #fff;
    font-size: 5.5px;
    z-index: 1;
  }

  @mixin userIconState($color) {
    &::after {
      background-color: $color;
    }
  }
  
  // ...
  
  .user-icon {
    // ...
    
    &.online {
      @include userIconState(#92C353);
      .fa-check {
        display: block;
      }
    }
  
    &.busy {
      @include userIconState(#FDB913);
    }
  
    &.offline {
      @include userIconState(#9F9F9F);
    }
  
    // ...
  }
  &::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
  }
}

.user-details, .last-message {
  display: grid;
  grid-template-rows: auto auto;
  font-size: 1em;
  color: $primary-text-color;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.last-message-content {
  @extend .last-message;
  display: flex;
  font-size: 1em;
  color: $secondary-text-color;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  right: 0;
}

.last-message-time {
  font-size: 1em;
  color: $tertiary-text-color;
  text-align: right;
  width: 100%;
  margin-bottom: 10px;
}

.user-list {
  flex: 1;
  overflow-y: auto;
  padding-right: 5px;
}

.fa-bars {
  display: none;
}

@media (max-width: 767px) {
  .fa-bars {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  .user-list {
    height: auto;
    overflow-y: auto;
  }

  li {
    grid-template-columns: 10px 30px 1fr;
  }

  .user-details {
    grid-template-rows: auto;
  }

  .last-message {
    display: none;
    font-weight: bold;
  }

  .users-list.show {
    display: block;
  }
}

li {
  position: relative;
}

.has-new-message .user-icon .new-message-dot {
  display: block;
  position: absolute;
  top: 5px;
  right: -10px;
  width: 10px;
  height: 10px;
  background-color: $new-message-color;
  border-radius: 50%;
}

.new-message-dot {
  display: none;
}

.new-message {
  padding: 0;
  margin: 0;
  border: 0;
}

.user-icon .new-message-dot {
  display: none;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: $new-message-color;
  border-radius: 50%;
  z-index: 2;
}

.unread-message .user-icon .new-message-dot {
  display: block;
}
