$background-color: #F0F0F0;
$hover-color: #e0e0e0;
$icon-bg-color: #ccc;
$primary-text-color: #333;
$secondary-text-color: #777;
$tertiary-text-color: #999;
$new-message-color: #0078d4;



:host {
  background-color: $background-color;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}




